
.window-card
  background i2
  border-top 2px solid i1
  border-left 2px solid i1
  border-right 2px solid i3
  border-bottom 2px solid i3
  
  &.init
    width 500px
    height 237px
    top 50%
    left 50%
    margin-top -125px
    margin-left -250px
    position absolute
    

.init-body
  position relative
  

