
pointier        = #e0d6ca

pointColor      = #b0a69a

importantText   = #b39f4b
importanterText = #e3d34b

ignorable         = #807872
veryIgnorable     = #54574d
veryVeryIgnorable = #2a2c27

background      = #030907
backgroundx2    = #06120e
offBackground   = #0a050d
offBlue         = #143b2e
actualBlack     = #000000

critical        = #f21d23
good            = #366317
prettyBlue      = #175cfe

i0 = #807672
i1 = #57524f
i2 = #2c2826
i3 = #131610

