@font-face
  font-family HFNSS
  src url("./hfnss.ttf")
  
@font-face
  font-family HFNSS1
  src url("./HFNSSvector1.ttf")
  
@font-face
  font-family HFICONS
  src url("./ctpaint-icons.ttf")

@font-face
  font-family HFGAM
  src url("./hfgam.ttf")