
.form-row
  padding-left 97px
  margin-top 4px
  
.form-field
  display inline-block
  width 125px
  
.form-input
  display inline-block

.form-submit-container
  text-align center
  margin-top 16px

.width-200
  width 200px

.width-150
  width 150px
  
.width-65
  width 65px
  
.width-64
  width 64px

.color-selection
  border-top 4px solid i1
  border-left 4px solid i1
  border-right 4px solid i3
  border-bottom 4px solid i3
  
  outline none
  font-family HFNSS
  color pointColor
  font-size 2em
  -webkit-font-smoothing none
  font-smooth none
  
  height 29px
  
  cursor pointer
  &.selected
    border-top 4px solid i3
    border-left 4px solid i3
    border-right 4px solid i1
    border-bottom 4px solid i1
    
  &:active
    border-top 4px solid i3
    border-left 4px solid i3
    border-right 4px solid i1
    border-bottom 4px solid i1

.field
  border-top 2px solid i3
  border-left 2px solid i3
  border-right 2px solid i1
  border-bottom 2px solid i1
  
  outline none
  font-family HFNSS
  color pointColor
  font-size 2em
  background backgroundx2
  -webkit-font-smoothing none
  font-smooth none
  height 29px
  &.selected
    border-top 2px solid i1
    border-left 2px solid i1
    border-right 2px solid i3
    border-bottom 2px solid i3

.button
  border-top 2px solid i1
  border-left 2px solid i1
  border-right 2px solid i3
  border-bottom 2px solid i3
  
  outline none
  font-family HFNSS
  color pointColor
  font-size 2em
  background i2
  -webkit-font-smoothing none
  font-smooth none
  min-width 96px
  
  &:hover
    color pointier
  &:active
    // padding-right 1px
    border-top 2px solid i3
    border-left 2px solid i3
    border-right 2px solid i1
    border-bottom 2px solid i1
    
  &.null
    color i0
    background i1
    &:active
      border-top 2px solid i1
      border-left 2px solid i1
      border-right 2px solid i3
      border-bottom 2px solid i3
    

    