
.field
  border-top 2px solid i3
  border-left 2px solid i3
  border-right 2px solid i1
  border-bottom 2px solid i1
  
  outline none
  font-family HFNSS
  color pointColor
  font-size 2em
  background i3
  -webkit-font-smoothing none
  font-smooth none

.button
  border-top 2px solid i1
  border-left 2px solid i1
  border-right 2px solid i3
  border-bottom 2px solid i3
  
  outline none
  font-family HFNSS
  color pointColor
  font-size 2em
  background i2
  -webkit-font-smoothing none
  font-smooth none
  &:hover
    color pointier
  &:active
    border-top 2px solid i3
    border-left 2px solid i3
    border-right 2px solid i1
    border-bottom 2px solid i1
    

    