

.loading-bar
  width 398px
  height 14px
  border 2px solid i1
  margin auto
  margin-top 20px
  
.loading-block
  width 10px
  height 10px
  background #57724f
  float left
  margin 2px
  margin-right 0px
  
  