

::-webkit-input-placeholder 
  color veryIgnorable
  

body
  background backgroundx2
  padding 0
  margin 0
  overflow hidden
  

.main-work-area
  position absolute
  overflow hidden
  
.screen
  position absolute
  &.hand
    cursor move

