

::-webkit-input-placeholder 
  color veryIgnorable
  

body
  background backgroundx2
  padding 0
  margin 0
  overflow hidden
  
// .main

  
.tool-button
  width 20px
  height 20px

  border-top 2px solid i1
  border-left 2px solid i1
  border-right 2px solid i3
  border-bottom 2px solid i3
  text-align center
  vertical-align middle
  line-height 22px
  margin-left 1px
  &:hover
    border-top 2px solid i3
    border-left 2px solid i3
    border-right 2px solid i1
    border-bottom 2px solid i1


.main-work-area
  position absolute
  overflow hidden
  

