

::-webkit-input-placeholder 
  color veryIgnorable
  

body
  background backgroundx2
  padding 0
  margin 0
  overflow hidden
  
canvas
  image-rendering pixelated

  -webkit-touch-callout none 
  -webkit-user-select   none 
  -khtml-user-select    none 
  -moz-user-select      none 
  -ms-user-select       none 
  user-select           none 
                           
  

.main-work-area
  position absolute
  overflow hidden
  
  
.screen
  position absolute
  &.hand
    cursor move
  &.pencil
    cursor crosshair
