

.palette-container
  position absolute
  top 0px
  left 0px
  
  margin-left -24px
  

.primary-top-row
  position absolute
  top 0px
  left 0px
  
.primary-swatch
  position absolute
    
  // position relative
  // float left
  // display inline
  
  width 30px
  height 20px
  border-left 2px solid i3
  border-top 2px solid i3
  border-right 2px solid i0
  border-bottom 2px solid i0


  &.tl   
    top 4px
    left 0px
    
  &.tr
    
    top 4px
    left 38px