

.icon
  font-family  HFICONS
  color        i0
  font-size    1em
  margin       0
  margin-top  -1px
  &.sharp
    font-smooth none
    -webkit-font-smoothing none
  &:hover
    color pointColor


.tool-button-separator
  margin 0px
  width 24px
  height 1px
  color i3
  background i3
  margin-left 1px
  

  
.tool-button
  width 20px
  height 20px
  
  border-top 2px solid i1
  border-left 2px solid i1
  border-right 2px solid i3
  border-bottom 2px solid i3
  text-align center
  vertical-align middle
  line-height 22px
  margin-left 1px
  &:hover
    border-top 2px solid i3
    border-left 2px solid i3
    border-right 2px solid i1
    border-bottom 2px solid i1
      
    
