.vertical-tool-bar
  background i2
  height 100%
  border-right 1px i3 solid
  padding-top 1px
  position fixed
  top 0px
  left 0px
  
.horizontal-tool-bar
  background i2
  width 100%
  position fixed
  bottom 0px
  padding-top 1px

.horizontal-tool-bar-edge
  height 3px 
  border-top 1px offBlue solid
  top 0px
  left 0px
  cursor ns-resize